@media (max-width: 2499px) {
  .wrapper {
    min-height: (calc(100vh - 40px));
  }
}
@media (max-width: 1530px) {
  .title {
    text-align: center;
  }
  .wrapper {
    min-height: 100vh;
    display: block;
  }
  .content {
    padding: 43px 30px 30px 260px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
  }
  .cards {
    max-width: 100%;
    &__items {
      justify-content: space-around;
    }
    &__about {
      max-width: 300px;
    }
    &__line {
      display: none;
    }
  }
  .goals {
    max-width: 100%;
    margin-left: 0;
    &-wrap {
      justify-content: center;
    }
    &__wrapper {
      max-width: 90%;
      width: 100%;
    }
    &__item {
      width: 100%;
      text-align: center;
      align-items: center;
      &-about {
        align-items: center;
      }
    }
  }
  .swiper-goals {
    width: 100%;
    &-btn-next {
      top: 27px;
      right: 0;
      left: calc(50% + 60px);
    }
  }
  .statistics {
    max-width: 100%;
    &__content {
      max-width: 100%;
    }
  }
  .transaction-history {
    max-width: 100%;
    &__link,
    &__paragraphs {
      grid-template-columns: 2fr 1fr 1fr 1fr;
      column-gap: 20px;
    }
    &__paragraph {
      &:last-child {
        justify-self: end;
      }
    }
  }
  .box {
    width: 100%;
    max-width: 100%;
    gap: 30px;
  }
  .new-transaction {
    max-width: 100%;
    &__title {
      text-align: left;
    }
  }
  .loan {
    max-width: 158px;
    width: 100%;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 97%;
    background-color: transparent;
  }
}
@media (max-width: 1100px) {
  body {
    padding: 10px;
  }
  .header {
    height: auto;
    gap: 20px;
    flex-direction: column-reverse;
    padding-right: 0;
    &__title {
      text-align: center;
    }
  }
}
@media (max-width: 992px) {
  .sidebar {
    max-width: 230px;
  }
  .content {
    padding: 35px 15px 30px 225px;
  }

  .transaction-history {
    &__paragraphs,
    &__link {
      grid-template-columns: 2fr 1fr 1fr;
    }
    &__type,
    .type {
      display: none;
    }
  }
}
@media (max-width: 850px) {
  body {
    padding: 0;
  }
  .header {
    padding-top: 50px;
    .user-nav {
      display: none;
    }
    &__phone {
      align-items: center;
      overflow: hidden;
      z-index: 999;
      position: fixed;
      background-color: #fff;
      width: 100%;
      top: 0;
      padding: 0 30px;
      display: flex;
      height: 80px;
      gap: 20px;
      justify-content: space-between;
      .user-nav {
        display: flex;
        margin-left: auto;
      }
      .logo {
        margin-bottom: 0;
      }
    }
  }
  .sidebar {
    background: white;
    z-index: 999;
    height: 100vh;
    padding-top: 130px;
    left: -100%;
    transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &.animate {
      left: 0;
    }
    .logo {
      display: none;
    }
  }
  .content {
    padding-left: 15px;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 480px) {
}
