:root {
  --white: #fff;
  --menu: #c7c7c7;
  --menu-hover: #197bbd;
}

%l300 {
  font-family: 'Lato';
  font-weight: 300;
}

%l400 {
  font-family: 'Lato';
  font-weight: 400;
}

%l600 {
  font-family: 'Lato';
  font-weight: 600;
}

%l700 {
  font-family: 'Lato';
  font-weight: 700;
}

%q400 {
  font-family: 'Quicksand';
  font-weight: 400;
}

%q500 {
  font-family: 'Quicksand';
  font-weight: 500;
}

%q700 {
  font-family: 'Quicksand';
  font-weight: 700;
}

%s400 {
  font-family: 'Suprema';
  font-weight: 400;
}

%s600 {
  font-family: 'Suprema';
  font-weight: 600;
}
