@import 'reset';
@import 'fonts';
@import 'vars';

body {
  background-color: #f0f0f0;
  padding: 20px;
}
.wrapper {
  display: flex;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 59px;
  min-height: (calc(100vh - 40px));
  position: relative;
  background-color: var(--white);
  overflow: hidden;
}

.sidebar {
  max-width: 250px;
  width: 100%;
  background-color: var(--white);
  border-right: 2px solid #ebebeb;
  padding: 55px 45px 32px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .upgrade {
    &__img {
      margin: 0 auto 9px;
    }
    &__text {
      font-family: 'Suprema';
      font-weight: 400;
      font-size: 9px;
      line-height: 11px;
      text-align: center;
      color: #404040;
      margin-bottom: 15px;
    }
    &__btn {
      background-color: #ffc145;
      border-radius: 14px;
      width: 164px;
      height: 41px;
      border: none;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
  }
}
.logo {
  display: block;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 16.7475px;
  line-height: 21px;
  display: flex;
  align-items: center;
  gap: 9px;
  color: #0f4264;
  margin-bottom: 79px;
}

.navbar {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #c7c7c7;
}

.menu {
  &__item {
    &-link {
      display: flex;
      gap: 18px;
      align-items: center;
      height: 39px;
      border-radius: 4px;
      transition: all 0.2s;
      padding-left: 10px;
    }
    &-icon {
      width: 30px;
      height: 30px;
      color: var(--menu);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
    }
    & :hover {
      background-color: #f0f7ff;
      color: var(--menu-hover);
      .menu__item-icon {
        color: var(--menu-hover);
      }
    }
  }
}

.header {
  width: 100%;
  height: 79px;
  display: flex;
  justify-content: space-between;
  padding-right: 22px;
  margin-bottom: 42px;
  align-items: center;
  &__title {
    font-family: 'Suprema';
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 3px;
    line-height: 53px;
    color: #404040;
  }
  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #aeaeae;
    font-family: 'Suprema';
  }
  & .user-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    &__item {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: right;
      align-items: center;
    }
    &__notification,
    &__messages {
      position: relative;
    }
    &__unread {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      background-color: #bb4430;
      right: 0px;
      top: 0;
      border-radius: 50%;
    }
    &__profile {
      display: flex;
      gap: 9px;
    }
    &__profile-box {
      display: flex;
      flex-direction: column;
      font-family: 'Suprema';
      font-size: 14px;
      line-height: 17px;
    }
    &__profile-name {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #404040;
    }
    &__profile-about {
      font-weight: 400;
      color: #aeaeae;
    }
  }
}

.content {
  padding: 43px 25px 32px 45px;
  width: 100%;
}

.title {
  font-family: 'Suprema';
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #404040;
}

.cards {
  max-width: 597px;
  max-height: 363px;
  padding: 14px 28px 32px 26px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  &__title {
    margin-bottom: 13px;
  }
  &__items {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  &__content {
    padding-left: 10px;
    max-width: 395px;
  }
  &__about {
    max-width: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
    &-item {
      font-family: 'Suprema';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #aeaeae;
      text-align: right;
      span {
        display: block;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 24px;
      }

      .switch input {
        display: none;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ebebeb;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 24px;
      }

      .slider:before {
        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        left: 0;
        bottom: 0;
        background-color: #cdcdcd;
        -webkit-transition: 0.4s;
        border-radius: 50%;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #2196f3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(23px);
        -ms-transform: translateX(23px);
        transform: translateX(23px);
      }
      .current-num {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 31.5503px;
        line-height: 38px;
        color: #197bbd;
        small {
          font-size: 18px;
          line-height: 22px;
        }
      }
      .income-num {
        font-family: 'Lato';
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #439a86;
      }
      .outcome-num {
        font-family: 'Lato';
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #bb4430;
      }
    }
  }
  &__card {
    margin-bottom: 31px;
    padding-right: 40px;
    border-right: 1px solid #e8e8e8;
    &-img {
      filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06))
        drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04))
        drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
    }
  }
  &__balance {
    max-width: 320px;
    font-size: 14px;
    line-height: 17px;
    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-input {
      -webkit-appearance: none;
      width: 100%;
      background-color: #f1f1f1;
      background-image: linear-gradient(#197bbd, #197bbd);
      background-size: 20% 100%;
      background-repeat: no-repeat;
      height: 9.47px;
      margin: 0 0 11px;
      border-radius: 13.617px;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
    }

    &-text {
      font-weight: 400;
      font-family: 'Suprema';
      color: #aeaeae;
    }
    &-price {
      font-family: 'Lato';
      font-weight: 600;
      color: #404040;
    }
  }
}

.goals {
  max-width: 507px;
  &-wrap {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 13px;
  }
  &__add {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__item {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    max-width: 158px;
    width: 100%;
    height: 169px;
    padding: 13px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-cost {
      display: flex;
      flex-direction: column;
    }
    &-price {
      font-family: 'Lato';
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #696969;
    }
    &-date {
      font-family: 'Suprema';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #aeaeae;
    }
    &-img {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
    }
    &-about {
      display: flex;
      flex-direction: column;
      gap: 1.5px;
    }
    &-title {
      font-family: 'Suprema';
      font-weight: 400;
      font-size: 20.1118px;
      line-height: 25px;
      color: #404040;
    }
  }
}

.statistics {
  max-width: 507px;
  &__title {
    margin-bottom: 13px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 16.5px;
  }
  &__item {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 16.5px;
    &:nth-child(1) {
      .statistics__img {
        background-color: #ffeada;
      }
      .statistics__content-scale {
        width: 52%;
        background: linear-gradient(270deg, #fcae73 0%, #f79042 99.18%);
      }
    }
    &:nth-child(2) {
      .statistics__img {
        background-color: #ddf9e4;
      }
      .statistics__content-scale {
        width: 21%;
        background: linear-gradient(90deg, #209d43 0%, #2bc255 100%);
      }
    }
    &:nth-child(3) {
      .statistics__img {
        background-color: #e4f0ff;
      }
      .statistics__content-scale {
        width: 74%;
        background: linear-gradient(270deg, #70a6e8 0%, #70a6e8 99.18%);
      }
    }
  }
  &__img {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    img {
      max-width: 20px;
    }
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 367px;
    width: 100%;
    gap: 8px;
    input[type='range'] {
      -webkit-appearance: none;
      height: 10px;
      background: #f1f1f1;
      border-radius: 14px;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
    }
    &-scale {
      position: absolute;
      content: '';
      height: 10px;
      border-radius: 11px;
      left: 0;
      top: 0;
    }
    &-text {
      font-family: 'Suprema';
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #aeaeae;
    }
  }
  &__num {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    color: #696969;
    align-self: flex-start;
  }
}

.transaction-history {
  padding: 19px 28px 27px 25px;
  max-width: 596px;
  width: 100%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 19.0044px;
  &__title {
    margin-bottom: 18px;
  }
  &__paragraphs {
    font-family: 'Suprema';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #aeaeae;
    display: flex;
    margin-bottom: 19px;
    display: grid;
    grid-template-columns: repeat(4, 200px 120px 145px 55px);
    padding: 0 7px;
  }
  &__reciever {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #404040;
  }
  &__reciever-img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    background-color: #efefef;
    border-radius: 6.00032px;
    img {
      max-width: 11px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__link {
    display: grid;
    align-items: center;
    height: 30px;
    padding: 0 7px;
    grid-template-columns: repeat(4, 200px 120px 145px 55px);
    font-family: 'Suprema';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c7c7c7;
    background-color: #fff;
    transition: background-color 0.2s;
    border-radius: 17px;
    &:hover {
      background-color: var(--hover);
    }
  }
  &__amount {
    justify-self: end;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #404040;
  }
}

@import 'media';
